body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    background-color: black;
    text-align: center;
}

.main {
}

h1, h2 {
    color: white;

}

h1 {
    font-weight: normal;
    font-size: 50px;
}    

h2 {
    font-size: 2em;
    font-weight: 300;
}

a {
    font-size: 16px;
    color: aquamarine;
}

footer p {
    text-align: right;
}